html, body {
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
}
body{
    background-color: #000000;
    color: #fff;
}
p{
    margin-block-start: 0px;
    margin-block-end: 0px;
}
h1{
    margin-block-start: 0px;
    margin-block-end: 0px;
}
h2{
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.container{
    width: 1200px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.primary_button{
    background: linear-gradient(180deg, #F69D4B 0%, #EE8524 100%); 
    box-shadow: 0 5px 0 0 #B86D29;
    border: none;
    color: #F1F1F1;
    text-transform: uppercase;
    text-shadow: 0px 2.05373px 1.02686px rgba(0, 0, 0, 0.15); 
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 18.8845px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #F1F1F1;
    text-shadow: 0px 2.05373px 1.02686px rgba(0, 0, 0, 0.15);
}

.basic_title{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    color: #F1F1F1;

}


.main{
    // overflow: hidden;
    padding-top: 50px;
    background-image: url(/img/main_background.png);
    background-repeat: no-repeat;
    background-color: #252423;
    background-position: center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    &_header{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &_logo{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        img{
            width: 47px;
            height: 47px;
            margin-right: 10px;
        }
        p{
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #AFAFAF;
            width: 156px;
        }

    }
    &_menu{
        display: flex;
        align-items: center;
        justify-content: center;
        p{
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            width: 150px;
            a{
                color: #828282;
                text-decoration: none;
            }
        }
    }
    &_contacts{
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        flex-direction: column;
        &-numbers{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            img{
                margin-right: 15px;
            }
            &-phone{
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
                a{
                    font-family: 'Proxima Nova';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 22px;
                    text-decoration: none;
                    color: #F1F1F1;
                }
            }
        }
        &-social{
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            a{
                display: block;
                img{
                    width: 23px;
                    height: 23px;
                }
                &:nth-child(1){
                    margin-right: 20px;
                }
            }
        }
    }

    &_content{
        position: relative;
        padding-top: 100px;
        padding-bottom: 100px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        &::after{
            content: "";
            position: absolute;
            width: 150%;
            height: 300px;
            // border: 1px solid red;
            bottom: -100px;
            left: 50%;
            transform: translateX(-50%);
            background: #100F10;
            filter: blur(75px);
            z-index: -1;
        }
    }

    &_left{
        &-title{
            font-size: 54.6892px;
            line-height: 67px;
            text-transform: uppercase;
            color: #F1F1F1;
            margin-bottom: 30px;
        }
        &-offer{
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 26px;
            color: #B5B5B5;
            width: 460px;
            letter-spacing: 0.9;
            margin-bottom: 30px;
            span{
                font-weight: 700;
                color: #DAA99C;
            }
        }
        &-cards{
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            margin-bottom: 50px;
        }
        &-card{
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            width: 170px;
            // border: 1px solid red;
            margin-right: 85px;
            &-title{
                font-family: 'Cormorant';
                font-style: normal;
                font-weight: 700;
                font-size: 54.6892px;
                line-height: 67px;
                text-transform: uppercase;
                color: #DAA99C;
                margin-bottom: 10px;
            }
            &-descr{
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: 300;
                font-size: 20px;
                line-height: 124.5%;
                color: #9B9B9B;
            }
        }
        &-button{
            width: 420px;
            height: 110px;
            border-radius: 10px;
            margin-bottom: 20px;
        }
        &-buttontext{
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 300;
            font-size: 18.5961px;
            line-height: 23px;
            color: #B5B5B5;
            span{
                font-weight: 700;
            }
            width: 400px;
            margin-left: 15px;
        }
    }
    &_image{
        position: absolute;
        bottom: -150px;
        width: 772px;
        height: 1108px;
        z-index: -1;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    &_right{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        &-title{
            font-family: 'Berlingske Serif';
            font-style: normal;
            font-weight: 500;
            font-size: 65px;
            line-height: 120%;
            text-align: center;
            text-transform: uppercase;
            background: linear-gradient(97.62deg, #565656 -47.77%, #FFFFFF 52.86%, #606060 149.38%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            // text-fill-color: transparent;
            width: 290px;
            margin-bottom: 10px;
        }
        &-text{
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 300;
            font-size: 24px;
            line-height: 146.5%;
            width: 260px;
            color: #B5B5B5;
            margin-bottom: 25px;
            span{
                color: #DAA99C;
                font-weight: 700;
            }
        }
        // &-cards{

        // }
        &-card{
            margin-bottom: 25px;
            width: 180px;
            &-title{
                font-family: 'Cormorant';
                font-style: normal;
                font-weight: 700;
                font-size: 54.6892px;
                line-height: 67px;
                text-transform: uppercase;
                color: #DAA99C;
                margin-bottom: 10px;
            }
            &-descr{
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: 300;
                font-size: 20px;
                line-height: 124.5%;
                color: #9B9B9B;
            }
        }
    }
}


.openblock{
    padding-bottom: 200px;
    position: relative;
    background: url(/img/open_back.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    &::before{
        content: "";
        width: 150%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 150px;
        top: -50px;
        background: #100F10;
        filter: blur(20px);
    }
    &::after{
        content: "";
        width: 150%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 150px;
        bottom: -50px;
        background: #262626;
        filter: blur(20px);
    }
    &_wrapper{
        position: relative;
        width: 1400px;
        margin-left: -100px;
        height: 750px;
        border: 1px solid #F1F1F1;
        border-radius: 25px;
        overflow: hidden;
        background: url(/img/open_wrapper.png), linear-gradient(110.04deg, #000000 30%, #4A4A4A 141.71%);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 101%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &_left{
        padding-top: 100px;
        padding-left: 125px;
        &-title{
            font-family: 'Berlingske Serif';
            font-style: normal;
            font-weight: 500;
            font-size: 38px;
            line-height: 120%;
            text-transform: uppercase;
            width: 445px;
            background: linear-gradient(99.55deg, #565656 -7.31%, #FFFFFF 46.74%, #606060 98.58%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            // text-fill-color: transparent;
            margin-bottom: 25px;
        }
        &-description{
            width: 355px;
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
            color: #FFFFFF;
            margin-bottom: 50px;
            span{
                color: #E1B8B0;
                font-weight: 700;
            }
        }
        &-textblock{
            width: 420px;
            height: 175px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            border-radius: 10px;
            p{
                text-align: left;
                // width: 95%;
                // padding-left: 30px;
                // padding-top: 20px;
                padding-left: 30px;
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                color: #2F2F2F;
                span{
                    font-weight: 700;
                    color: #1D1D1D;
                }
            }
        }
    }
    &_image{
        position: absolute;
        // z-index: -1;
        width: 684px;
        height: 750px;
        right: 195px;
        bottom: 0;
    }
    &_right{
        padding-top: 110px;
        &-text{
            width: 230px;
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            padding-right: 130px;
            color: #D9D9D9;
            span{
                font-weight: 700;
                color: #Fff;
            }
        }
    }
    &_figure{
        position: absolute;
        right: -50px;
        bottom: -75px;
    }
}

.help{
    background: #262626;
    padding-bottom: 50px;
    &_header{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 100px;
        &_left{
            &-title{
                width: 560px;
                font-family: 'Berlingske Serif';
                font-style: normal;
                font-weight: 500;
                font-size: 38px;
                line-height: 120.5%;
                text-transform: uppercase;
                background: linear-gradient(99.55deg, #565656 -7.31%, #FFFFFF 46.74%, #606060 98.58%), #FFFFFF;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                // text-fill-color: transparent;
                margin-bottom: 20px;
            }
            &-text{
                width: 370px;
                position: relative;                        
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 150.3%;
                color: #FFFFFF;
                display: flex;
                align-items: flex-start;
                padding-left: 39px;
                &::before{
                    content: "";
                    position: absolute;
                    width: 28px;
                    height: 2px;
                    background: #fff;
                    left: 0;
                    top: 10px;
                }
            }
        }
        &_right{
            position: relative;
            &-text{
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 29px;
                color: #C8C8C8;
                width: 420px;
                span{
                    color: #E1B8B0;
                    font-weight: 700;
                }
            }
            &-image{
                position: absolute;
                margin-top: 15px;
                z-index: -1;
                right: -20px;
                width: 502px;
                height: auto;

            }
        }
    }
    &_card-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        justify-content: flex-start;
    }
    &_card{
        width: 1140px;
        height: 230px;
        border: 6px solid #444242;
        margin-bottom: 10px;
        border-radius: 10px;
        background: #262626;
        &-1{
            background-image: url(/img/card_image1.png);
            background-repeat: no-repeat;
            background-position: center right -20px;
            background-size: 110%;
        }
        &-2{
            background-image: url(/img/card_image2.png);
            background-repeat: no-repeat;
            background-position: center right -20px;
            background-size: 110%;
        }
        &-3{
            background-image: url(/img/card_image3.png);
            background-repeat: no-repeat;
            background-position: center right -20px;
            background-size: 110%;
        }
        &-4{
            background-image: url(/img/card_image4.png);
            background-repeat: no-repeat;
            background-position: center right -20px;
            background-size: 110%;
        }
        &-5{
            background-image: url(/img/card_image5.png);
            background-repeat: no-repeat;
            background-position: bottom -20px right -20px;
            background-size: 112%;
        }
        &-title{
            padding-top: 30px;
            padding-left: 45px;
            margin-bottom: 20px;
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 150.3%;
            color: #FFFFFF;
        }
        &-list{
            // width: 700px
            align-content: flex-start;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;
            padding-left: 45px;
            // border: 1px solid red;
            height: 145px;
        }
        &-text{
            padding-left: 41px;
            // border: 1px solid red;
            width: 260px;
            height: 50px;
            margin-right: 50px;
            margin-bottom: 20px;
            text-align: left;
            position: relative;
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 122.3%;
            color: #FFFFFF;
            &::before{
                content: url(/img/tick.svg);
                position: absolute;
                display: block;
                left: 0;
            }
        }
    }
    &_button{
        margin-left: 50%;
        transform: translateX(-50%);
        width: 335px;
        height: 70px;
        background: transparent;
        border: 1px solid #EE8524;
        border-radius: 10px;
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        color: #F1F1F1;
        text-shadow: 0px 1.31277px 0.656385px rgba(0, 0, 0, 0.15);
        // justify-content: center;
        transition: all 0.3s;
        &:hover{
            color: rgb(36, 36, 36);
            background: #EE8524;
        }
    }

}

.experience{
    background: #262626;
    padding-top: 100px;
    padding-bottom: 25px;
    background: url(/img/exp_back.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    &::before{
        content: "";
        width: 10000px;
        left: -500px;
        height: 100px;
        background: #262626;
        position: absolute;
        top: -50px;
        filter: blur(20px);
    }
    &_wrapper{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
    }
    &_left{

        &-title{
            font-family: 'Berlingske Serif';
            font-style: normal;
            font-weight: 500;
            font-size: 38px;
            line-height: 120.5%;
            text-transform: uppercase;
            background: linear-gradient(99.55deg, #565656 -7.31%, #FFFFFF 46.74%, #606060 98.58%), #FFFFFF;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            // text-fill-color: transparent;
            margin-bottom: 20px;
            width: 445px;
        }
        &-description{
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            width: 455px;
            color: #C8C8C8;
            margin-bottom: 50px;
            span{
                color: #E1B8B0;
                font-weight: 700;
            }
        }
    }
    &_image{
        position: absolute;
        z-index: -1;
        width: 671px;
        height: 1109px;
        margin-left: 47%;
        transform: translateX(-50%);
        bottom: -425px;
    }
    // &_card-wrapper{

    // }
    &_card{
        display: flex;
        align-items: center;
        justify-content: flex-start;  
        margin-bottom: 45px;
        &-5{
            transform: translateX(-65px);
            p{
                width: 330px;
            }
        }
        &-8{
            transform: translateX(-35px);
        }
        &-image{
            width: 100px;
            height: 100px;
            margin-right: 15px;
        }   
        &-text{
            width: 250px;
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #D3D2D2;
        } 
    }
    &_right{
        // margin-left: 50px;
        margin-right: -50px;
        &-text{
            &-wrapper{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 430px;
                height: 130px;
                border-radius: 10px;
                border: 1px solid #C0C0C0;
                margin-bottom: 80px;

            }
            &-image{
                margin-left: -35px;
                margin-right: 20px;
            }
            &-descript{
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 29px;
                color: #939393;
            }
        }
    }
}

.understand{
    background: #F3F3F3;
    padding-top: 125px;
    position: relative;
    padding-bottom: 200px;
    &_chess{
        position: absolute;
        left: -250px;
        bottom: -250px;
        // border: 1px solid red;
        z-index: 9;
    }
    &_wrapper{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &_left{
        &-title{
            font-family: 'Berlingske Serif';
            font-style: normal;
            font-weight: 500;
            font-size: 38px;
            line-height: 125%;
            text-transform: uppercase;
            background: linear-gradient(99.55deg, #565656 -7.31%, #2F2F2F 46.74%, #606060 98.58%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            // text-fill-color: transparent;
            width: 525px;
            margin-bottom: 65px;
            span{
                font-size: 28px;
                line-height: 41px;
                transform: translateY(-5px);
            }
        }
        &-description{
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: #4B4646;
            width: 500px;
            padding-left: 50px;
            position: relative;
            margin-bottom: 45px;
            &::before{
                content: "";
                width: 38px;
                height: 2px;
                background: #4b4646;
                position: absolute;
                left: 0;
                top: 15px;
            }
        }
        &-list{
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 168.3%;
            color: #4B4646;
            padding-left: 30px;
            margin-bottom: 55px;
            li::marker{
                transform: scale(0.5);
            }
        }
        &-textblock{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-left: 100px;
            &-name{
                width: 145px;
                border-right: 1px solid #262626;
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                color: #404040;
                padding-right: 10px;
                margin-right: 10px;
            }
            &-descript{
                width: 195px;
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: 400;
                font-size: 16.0861px;
                line-height: 142.5%;
                color: #626262;
            }
        }
    }
    &_right{
        &-image{
            width: 512px;
            height: auto;
        }
    }
}

.personal{
    background: #F3F3F3;
    position: relative;
    // padding-bottom: 115px;
    &_wrapper{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }    
    &_left{
        &-image{
            margin-right: 30px;
            width: 512px;
            height: auto;
        }
    }
    &_right{
        &-title{
            font-family: 'Berlingske Serif';
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 120%;
            text-transform: uppercase;
            background: linear-gradient(99.55deg, #565656 -7.31%, #2F2F2F 46.74%, #606060 98.58%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            // text-fill-color: transparent;
            width: 525px;
            margin-bottom: 35px;
            span{
                font-size: 28px;
                line-height: 41px;
                transform: translateY(-5px);
            }
        }
        &-list{
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 168.3%;
            color: #4B4646;
            width: 570px;
            padding-left: 20px;
            margin-bottom: 35px;
            li::marker{
                transform: scale(0.5);
            }
        }
        &-textblock{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &-name{
                width: 160px;
                border-right: 1px solid #262626;
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                color: #404040;
                padding-right: 10px;
                margin-right: 10px;
            }
            &-descript{
                width: 195px;
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: 400;
                font-size: 16.0861px;
                line-height: 142.5%;
                color: #626262;
            }
        }
    }
}

.ready{
    background: #F3F3F3;
    padding-bottom: 120px;
    &_title{
        width: 470px;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-bottom: 20px;
        font-family: 'Berlingske Serif';
        font-style: normal;
        font-weight: 500;
        font-size: 47px;
        line-height: 125%;
        text-align: center;
        text-transform: uppercase;
        background: linear-gradient(99.55deg, #565656 -7.31%, #2F2F2F 46.74%, #606060 98.58%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        // text-fill-color: transparent;
    }
    &_description{
        width: 445px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #4B4646;
    }
    &_wrapper{
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    &_left{
        width: auto;
        height: auto;
        position: relative;
        margin-right: 70px;
        &-image{
            width: 490px;
            height: auto;
        }
        &-textwrapper{
            backdrop-filter: blur(10px);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 266px;
            height: 115px;
            position: absolute;
            background: rgba(0,0,0,.5);
            right: 0;
            bottom: 4px;
            &-title{
                padding-top: 20px;
                padding-left: 30px;
                margin-bottom: 2px;
                font-family: 'Avenir Next Cyr';
                font-style: normal;
                font-weight: 750;
                font-size: 18px;
                line-height: 22px;
                color: #FFFFFF;
                opacity: 0.8;
            }
            &-descript{
                font-family: 'Avenir Next Cyr';
                font-style: italic;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #FFFFFF;
                opacity: 0.8;
                padding-left: 30px;
            }
        }
    }
    &_right{
        width: auto;
        height: auto;
        position: relative;
        &-image{
            width: 490px;
            height: auto;
        }
        &-textwrapper{
            backdrop-filter: blur(10px);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 266px;
            height: 115px;
            position: absolute;
            background: rgba(0,0,0,.5);
            left: 35px;
            bottom: 4px;
            &-title{
                padding-top: 20px;
                padding-left: 30px;
                margin-bottom: 2px;
                font-family: 'Avenir Next Cyr';
                font-style: normal;
                font-weight: 750;
                font-size: 18px;
                line-height: 22px;
                color: #FFFFFF;
                opacity: 0.8;
            }
            &-descript{
                font-family: 'Avenir Next Cyr';
                font-style: italic;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #FFFFFF;
                opacity: 0.8;
                padding-left: 30px;
            }
        }
    }
}

.consult{
    background: #F3F3F3;
    padding-bottom: 130px;
    &_wrapper{
        position: relative;
        width: 1400px;
        margin-left: -100px;
        height: 750px;
        border: 1px solid #6a6a6a;
        border-radius: 25px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        overflow: hidden;
        &::before{
            content: "";
            margin-top: -10px;
            width: 130%;
            height: 130%;
            left: -20px;
            top: -50px;
            opacity: 0.9;
            z-index: -1;
            position: absolute;
            background: url(/img/open_wrapper.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 110%;
        }
    }
    &_left{
        opacity: 1;
        padding-top: 100px;
        padding-left: 130px;
        &-title{            
            font-family: 'Berlingske Serif';
            font-style: normal;
            font-weight: 500;
            font-size: 38px;
            line-height: 140.5%;
            text-transform: uppercase;
            background: linear-gradient(99.55deg, #565656 -7.31%, #FFFFFF 46.74%, #606060 98.58%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            // text-fill-color: transparent;
            width: 535px;
            margin-bottom: 32px;
        }
        &-descript{
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: #FFFFFF;
            width: 415px;
            margin-bottom: 25px;
        }
        &-text{
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #A0A0A0;
            width: 330px;
            margin-bottom: 25px;
            position: relative;
            padding-left: 35px;
            &::before{
                content: "";
                position: absolute;
                left: 0;
                top: 8px;
                background: #A0A0A0;
                width: 28px;
                height: 1px;
            }
        }
        &-textwrapper{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 30px;
            &-name{
                width: 110px;
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: 700;
                font-size: 20.6821px;
                line-height: 108%;
                color: #FFFFFF;
                border-right: 1px solid #A0A0A0;
                margin-right: 15px;
            }
            &-position{
                width: 225px;       
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: 300;
                font-size: 16.0861px;
                line-height: 142.5%;
                color: #D9D9D9;
            }
        }
        &-paint{
            margin-left: 50px;
        }
    }
    &_image{
        position: absolute;
        z-index: -1;
        margin-left: 50%;
        transform: translateX(-50%);
        bottom: 0;
    }
    &_right{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        padding-top: 100px;
        padding-right: 125px;
        &-text{
            width: 330px;
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
            margin-bottom: 50px;
        }
    }
    &_formwrapper{
        width: 345px;
        height: 425px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #fff;
    }
    &_form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &-title{
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #5E5E5E;
            margin-bottom: 5px;
            span{
                font-size: 18px;
                line-height: 22px;
                color: #262626;
                text-transform: uppercase;
            }
        }
        &-description{
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #717171;
            margin-bottom: 20px;
        }
        &-input{
            width: 271px;
            height: 46px;
            background: #EFEFEF;
            border: 1px solid #8B8B8B;
            border-radius: 10px;
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: rgba(0, 0, 0, 0.32);
            margin-bottom: 10px;
        }
        &-button{
            width: 271px;
            height: 68.59px;
            background: linear-gradient(180deg, #F69D4B 0%, #EE8524 100%);
            border-radius: 10px;
            border: none;
            box-shadow: 0 4px 0 0 #ab631f;
            margin-bottom: 20px;   
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            text-transform: uppercase;
            color: #F1F1F1;
            text-shadow: 0px 1.31277px 0.656385px rgba(0, 0, 0, 0.15);
        }
        &-checkboxwrapper{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            input{
                width: 16px;
                height: 16px;
                border-radius: 2px;
                margin-right: 11px;
            }
            label{
                width: 235px;
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                color: #787878;
                a{
                    color: #787878;
                    text-decoration: none;
                }
            }
        }
    }
}

.office{
    background: #F3F3F3;
    padding-bottom: 100px;
    &_wrapper{
        display: flex;
        align-items: flex-start;
        height: 485px;
        justify-content: space-between;
        // border: 1px solid red;
    }
    &_left{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
    &_title{
        width: 360px;
        height: 225px;
        font-family: 'Berlingske Serif';
        font-style: normal;
        font-weight: 500;
        font-size: 38px;
        line-height: 120%;
        text-transform: uppercase;
        color: #494949;
    }
    &-imagewrapper1{
        width: 360px;
        height: 225px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &_center{
        width: 360px;
        height: 485px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &_right{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    &-imagewrapper3{
        width: 360px;
        height: 225px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &-imagewrapper4{
        width: 360px;
        height: 225px;
        img{
            width: 100%;
            height: 100%;
        }
    }
}

.map{
    background: #222;
    padding-bottom: 170px;
    position: relative;
    &_wrapper{
        position: relative;
        margin-top: -500px;
        width: 460px;
        height: 335px;
        backdrop-filter: blur(10px) !important;
        pointer-events: all;
    }

    .container{
        pointer-events: none;
    }
    &_textblock{
        font-family: 'Proxima Nova';
        opacity: 1 !important;
        padding-left: 35px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 35px;
        // width: 350px;
        h2{
            font-family: 'Proxima Nova';
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #A0A0A0;
            margin-bottom: 15px;
            width: 345px;
        }
        p{
            font-family: 'Proxima Nova';
            font-weight: 400;
            font-size: 16px;
            width: 350px;
            line-height: 19px;
            color: #FFFFFF;
            a{
                font-size: 16px;
                line-height: 19px;
                color: #FFFFFF;
                text-decoration: none;
            }
        }
        img{
            margin-right: 20px;
        }
        &:nth-child(1){
            margin-top: 25px;
        }
    }
    &_card{
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        background: rgba(120, 120, 120, 0.4);
        left: 0;
        top: 0;
    }

}

.footer{
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Proxima Nova';

    background: #222;
    &_wrapper{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &_left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        a{
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            text-decoration-line: underline;
            color: #828282;
        }
    }
    &_logowrapper{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        img{
            width: 50px;
            height: 50px;
            margin-right: 20px;
        }
        p{
            width: 160px;
            transform: translateY(3px);
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #AFAFAF;
        }
    }
    &_center{
        display: flex;
        align-items: center;
        justify-content: center;
        p{
            a{
                display: block;
                width: 150px;
                font-size: 15px;
                line-height: 18px;
                text-align: center;
                color: #828282;
            }
        }
    }
    &_right{
        .contacts{
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            .numbers{
                display: flex;
                align-items: center !important;
                img{
                    width: 20px;
                    height: 19px;
                    display: block;
                    margin-top: -16px;
                    align-self: center;
                    margin-right: 13px;
                }
                &_phone{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 18px;
                    a{
                        color: #F1F1F1;
                        font-size: 18px;
                        text-decoration: none;
                        margin-bottom: 3px;
                    }
                }
            }
            .social{
                display: flex;
                justify-content: flex-end;
                right: 0;
                a{
                    // display: block;
                    img{
                        width: 25px;
                        height: 25px;
                    }
                }
                a:nth-child(1){
                    // border: 1px solid blue;
                    margin-right: 19px;
                }
            }
        }
        &-link{
            margin-top: 20px;
            width: 200px;
            text-align: right;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            text-align: right;
            text-decoration-line: underline;
            color: #828282;
        }
    }
}